lanshare
lanshare-gui
*.exe
dist/linux/
dist/windows/lanshare.exe
dist/darwin/
dist/android/
dist/packaging/*.deb
dist/packaging/lanshare/
packaging/deb/usr/

# Build artifacts
android/build/
mobile-apk/
dist/android/
